# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\javafile\Freshman_admin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
